{% extends 'base.html' %}

{% block title %}Menú Encargado{% endblock %}

{% block content %}

</head>
<body>
    <h1>Bienvenido al menú encargado{{ nombre }}</h1>
    <form action="{{ url_for('listado_propiedades') }}" method="get"></form>
<!--<form action="{{ url_for('listado_propiedades') }}" method="get">-->
        <input type="hidden" name="origen" value="encargado">
        <button type="submit">Ver listado de propiedades</button>
        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
    </form>
</body>
</html>
<a href="{{ url_for('pagina_inicio') }}" class="btn btn-secondary mt-3">Volver al inicio</a>
{% endblock %}