{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Acabo de iniciar sesión - Como Usuario</h2>
    <p class="text-center">Bienvenido, por favor ingrese sus datos.</p>

    
    <div class="mt-3 text-center">
        <p>Envía un mensaje<a href="{{ url_for('registro_usuario') }}">Chat</a></p>
    </div>
    <a href="{{ url_for('pagina_inicio') }}" class="btn btn-secondary mt-3">Volver al inicio</a>
</div>
<a href="{{ url_for('chat') }}" class="btn btn-secondary mt-3">Chatear</a>
{% endblock %}